.banner-container {
  position: relative;
}

.banner-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  max-width: 900px;
   
}

.btn{
    background-color:  #f86d72;
}





.section-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 2rem;
            

        }
.book-card {
  display: flex;
  flex-direction: column; 
  align-items: center;   
  border: 1px solid #f0f0f0;
  border-radius: 5px;
  background-color: #fff;
  transition: all 0.3s ease;
  width: 250px;
  padding: 1rem;
}

.book-card img {
  width: 100%;
  border-radius: 5px;
  object-fit: cover;
  aspect-ratio: 2 / 3;
  margin-bottom: 1rem;
}

.book-card .card-body {
  text-align: left;  
  width: 90%;      
}

.header-text{
  font-size: 60px;
}

.p-head{
  font-size: 30px;
}





.list-card {
            border-radius: 10px;
        }

        .list-card hr {
            color: #f0f0f0;
        }

  
        .list-card hr:last-of-type {
            display: none;
        }

        .list-item {
            display: flex;
            align-items: center;
            padding: 0.75rem 0;
        }

        .list-item img {
            width: 50px;
            height: auto;
            border-radius: 4px;
            margin-right: 1.25rem; 
            flex-shrink: 0; 
        }

        .list-item-info .title {
            font-weight: 600;
            font-size: 1.1rem;
            margin-bottom: 0.1rem;
            color: var(--text-dark);
        }

        .list-item-info .author {
            font-size: 0.9rem;
            color: var(--text-light);
            margin-bottom: 0.25rem;
        }

        .list-item-info .price {
            font-weight: 700;
            font-size: 1.1rem;
            color: var(--primary-color);
        }



        .category-card {
            position: relative;
            overflow: hidden;
            border-radius: 10px;
        }

.category-card .category-name {
    position: absolute;
    bottom: 0;
    left: 0;
    width: auto;  
    color: white;
    align-items: start;
    font-weight: 600;
    bottom: 10px;
    left: 10px; 
}

.list{
  text-decoration: none;
}


      
.list {
  list-style: none;  
  padding-left: 0;
}

.list a {
  text-decoration: none;
  color: inherit;      
}